.spf-interactive {
  width: 496px;
}

.spf-navbar,
.spf-moviebar {
  float: left;
  background: #f7f7f7;
  color: #666;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-color: rgba(0,0,0,.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(to bottom,#fff,#eee);
}

.spf-moviebar {
  width: 100%;
}

.spf-flip {
  float: right;
}

.spf-navbar:before, .spf-navbar:after,
.spf-moviebar:before, .spf-moviebar:after {
  content: " ";
  display: table;
}

.spf-navbar:after,
.spf-moviebar:after {
  clear: both;
}

.spf-navbar-nav,
.spf-moviebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.spf-moviebar-nav {
  width: 100%;
}

.spf-navbar-nav > li,
.spf-moviebar-nav > li {
  float: left;
  position: relative;
}

.spf-navbar-nav > li.spf-divider {
  height: 42px;
  margin-top: -1px;
  margin-bottom: -1px;
  background: #FFF;
  width: 15px;
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  margin-right: 1px;
}

.spf-navbar-nav > li > a,
.spf-moviebar-nav > li > a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  height: 41px;
  padding: 0 15px;
  line-height: 40px;
  color: #666;
  font-size: 16px;
  font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid transparent;
  border-bottom-width: 0;
  text-shadow: 0 1px 0 #fff;
}

.spf-navbar-nav:first-child > li:first-child > a,
.spf-moviebar-nav:first-child > li:first-child > a {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.spf-navbar-nav > li:hover > a, .spf-navbar-nav > li > a:focus,
.spf-moviebar-nav > li:hover > a, .spf-moviebar-nav > li > a:focus {
  background-color: transparent;
  background-color: #FFF\9;
  color: #666;
  outline: 0;
  position: relative;
  z-index: 1;
  border-left-color: rgba(0,0,0,.1);
  border-right-color: rgba(0,0,0,.1);
  border-top-color: rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
}

.spf-navbar-nav > li.spf-active {
  box-shadow: 0px 0px 20px 0px rgba(206,244,205,1);
}

.spf-navbar-nav > li.spf-active > a {
  background-color: #CEF4CD;
  color: #666;
  border-left-color: rgba(0,0,0,.1);
  border-right-color: rgba(0,0,0,.1);
  border-top-color: rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  text-shadow: none;
}

.spf-moviebar-nav > li.spf-timeline {
  height: 20px;
  float: none;
  width: auto;
  padding: 10px 10px;
  position: relative;
  overflow: hidden;
}

.spf-timeline:before {
  content: '';
  height: 20px;
  width: 100%;
  background: #FFF;
  border: 1px solid #AAA;
  margin-top: -1px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.spf-timeline-progress {
  display: block;
  height: 100%;
  background: #CEF4CD;
  margin: -21px 0 0 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.spf-play-button:before {
  content: "\e600";
  font-family: 'spf-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spf-play-button.active:before {
  content: "\e601";
}

@font-face {
  font-family: 'spf-icons';
  src:url('../fonts/spf-icons.eot?-slf265');
  src:url('../fonts/spf-icons.eot?#iefix-slf265') format('embedded-opentype'),
    url('../fonts/spf-icons.woff?-slf265') format('woff'),
    url('../fonts/spf-icons.ttf?-slf265') format('truetype'),
    url('../fonts/spf-icons.svg?-slf265#spf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="spf-icon"], [class*=" spf-icon"] {
  font-family: 'spf-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spf-icon-play:before {
  content: "\e600";
}
.spf-icon-pause:before {
  content: "\e601";
}
.spf-icon-tracker:before {
  content: "\e602";
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
